
h1.tituloSite {
    color: red;
}


header .tituloSite {
    background-color: blue;
    color: pink;
}


.tituloSite {
    color: #0be47f;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}